<div class="wrapper" [style.height.px]="config.height" [style.width.px]="config.width">
  <div (panLeft)="panLeft()" class="video-window">
    <video #videoElem [style.height.px]="config.height" [style.width.px]="config.width" [src]="config.videoUrl"></video>
  </div>
  <div class="zoom-buttons">
    <img class="zoom-in" src="https://icongr.am/material/magnify-plus.svg?{{ getSize() }}&color=currentColor">
    <img class="zoom-out" src="https://icongr.am/material/magnify-minus.svg?{{ getSize() }}&color=currentColor">
  </div>
</div>