<div class="wrapper" (mouseover)="userOver(true)" (mouseout)="userOver(false)" [ngStyle]="getVideoDimensions()">
  <div class="video-window">
    <video #videoElem [ngStyle]="getVideoDimensions()" [src]="config.videoUrl"></video>
  </div>
  <div class="zoom-buttons" [ngClass]="{'hide': !showZoomTools }">
    <img class="zoom-in" (click)="zoom(.5)" src="https://icongr.am/material/magnify-plus.svg?color=currentColor">
    <img class="zoom-out" (click)="zoom(-.5)" src="https://icongr.am/material/magnify-minus.svg?color=currentColor">
  </div>
</div>